.cproject
.project
distribution
lib
lib/*
*.o
*.obj
*.exe
libunittest.xml
html
errors.log
debian/libunittest-dev/*
debian/libunittest-dev.debhelper.log
debian/libunittest-dev.substvars
debian/copyright
debian/changelog
debian/files
debian/rules
debian/stamp-makefile-build
